.popular {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px 0;
  overflow: hidden;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
  }

  &__all-btn {
    background: #eaf1ff;
    padding: 10px 18px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #d9e6ff;
    }
  }

  &__slider-wrap {
    position: relative;
  }

  .popular__swiper {
    overflow: visible; // 3-karta chetiga chiqishi uchun
  }

  &__card {
    width: 550px;
    display: flex;
    flex-direction: column;
  }

  &__card-img {
    height: 550px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 16px;
    display: flex;
    // justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.6) 100%
      );
      border-radius: 20px;
    }
  }

  &__date {
    z-index: 2;
    background: #00000060;
    backdrop-filter: blur(4px);
    width: 56px;
    height: 56px;
    border-radius: 12px;
    padding: 6px;
    text-align: center;
    color: white;

    span {
      font-size: 20px;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 14px;
    }
  }

  &__save-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 3;
    background: #00000060;
    backdrop-filter: blur(4px);
    width: 38px;
    height: 38px;
    border-radius: 10px;
    color: white;
    border: none;
  }

  &__price {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 3;
    background: #007bff;
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: 600;
    color: #fff;
  }

  &__card-info {
    padding: 10px 4px;

    h3 {
      font-size: 18px;
      margin-bottom: 6px;
    }

    p {
      font-size: 14px;
      color: #646464;
    }
  }

  &__controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__ctrl {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: #d5d5d5;
    }
  }
}
