.social-cards {
  width: 100%;
  display: flex;
  gap: 16px;
  margin: 30px auto;
  max-width: 1600px;

  .social-card {
    flex: 1;
    border-radius: 18px;
    padding: 0 20px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    position: relative;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.15);
    }

    .text {
      font-size: 18px;
      font-weight: 600;
      max-width: 150px;
      line-height: 1.2;
    }

    .icon {
      width: 100px;
      height: auto;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
